.page {
    background-color: black;
    width: 100%;
}

.text-container{
    display: block;
    align-items: center;
}

.text {
    color: white;
    text-align: center;
}

.image-container {
    width: fit-content;
    justify-content: center;
    display: flex;
    flex-flow: wrap;
}

.camp-img {
    align-self: center;
}

.phone-png-container {
    display: block;
    align-items: center;
}

.phone-icon {
    
}

.link-container {
    display: block;   
    align-items: center;
}

.copyright-container {
    display: block;  
    align-items: right;
}

.copyright {
    color: grey;
}

